@model LittleFirmManagement.Models.FPurchase

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FPurchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PInvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PInvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDisbursementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDisbursementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDebitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDebitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PFkCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PFkCategory.CaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PFkPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PFkPayment.CaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PFkSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PFkSupplier.CaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
