@model IEnumerable<LittleFirmManagement.Models.FClient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPhoneFixed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPhoneCell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIsPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLocationLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLocationLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTravelTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUrssafUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIsMan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBirthName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBirthCountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAccountHolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFkBirthCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFkCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFkMedia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPhoneFixed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPhoneCell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIsPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLocationLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLocationLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTravelTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUrssafUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIsMan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBirthName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBirthCountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAccountHolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFkBirthCity.CiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFkCity.CiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFkMedia.CaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
