@model LittleFirmManagement.Models.FInvoicesViewModel

@{
    ViewData["Title"] = "Create";
    var client = ViewData["FClient"] as LittleFirmManagement.Models.FClient;
}
<h1>Record a new invoice</h1>

<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Invoice</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="fInvoice.InFkPaymentId" class="control-label"></label>
                            <select asp-for="fInvoice.InFkPaymentId" class="form-control" asp-items="ViewBag.InFkPaymentId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="fInvoice.InInvoiceId" class="control-label"></label>
                            <input asp-for="fInvoice.InInvoiceId" type="number" class="form-control" readonly />
                            <span asp-validation-for="fInvoice.InInvoiceId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fInvoice.InInvoiceDate" class="control-label"></label>
                            <input asp-for="fInvoice.InInvoiceDate" type="date" class="form-control" />
                            <span asp-validation-for="fInvoice.InInvoiceDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fInvoice.InReceiptDate" class="control-label"></label>
                            <input asp-for="fInvoice.InReceiptDate" type="date" class="form-control" />
                            <span asp-validation-for="fInvoice.InReceiptDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fInvoice.InCreditDate" class="control-label"></label>
                            <input asp-for="fInvoice.InCreditDate" type="date" class="form-control" />
                            <span asp-validation-for="fInvoice.InCreditDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fInvoice.InAmount" class="control-label"></label>
                            <input asp-for="fInvoice.InAmount" type="number" class="form-control" />
                            <span asp-validation-for="fInvoice.InAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InIsEligibleDeferredTaxCredit" class="form-check-label"></label>
                            <input asp-for="InIsEligibleDeferredTaxCredit" type="checkbox" role="switch" class="form-check-input" />
                            <span asp-validation-for="InIsEligibleDeferredTaxCredit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fInvoice.InUrssafPaymentRequestUuid" class="control-label"></label>
                            <input asp-for="fInvoice.InUrssafPaymentRequestUuid" type="text" class="form-control" />
                            <span asp-validation-for="fInvoice.InUrssafPaymentRequestUuid" class="text-danger"></span>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header">Associated interventions</div>
                            <div class="card-body">
                                <div class="card mt-3">
                                    <div class="card-header">Client</div>
                                    <div class="card-body">
                                        <input type="hidden" name="id" value="@client.CId" />
                                        <div class="mb-3">
                                            <label class="form-label">Name : @client.CName</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Firstname : @client.CFirstname</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Address : @client.CAddress</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="selectedInterventions" class="control-label">Select Interventions</label>
                                    <select class="form-select" multiple asp-for="selectedInterventions" asp-items="@ViewBag.FIntervention"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-end">
                <button name="validAndSave" value="true" asp-controller="FInvoices" asp-action="Create" class="btn btn-primary mb-4">Valid and save</button>
                <button name="validAndSave" value="false" asp-controller="FInvoices" asp-action="Create" class="btn btn-primary mb-4">Save</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
