@model LittleFirmManagement.Models.PendingInvoicesViewModel

@{
    var data = ((IEnumerable<dynamic>)ViewData["Data"]).ToList();
}
<h1>Pending invoices</h1>


<div class="container">
    <form asp-action="Pending">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="SubjectId" class="control-label"></label>
                    <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ActionDate" class="control-label"></label>
                    <input asp-for="ActionDate" type="date" class="form-control" />
                    <span asp-validation-for="ActionDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-9">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>no</th>
                                <th>client</th>
                                <th>date inter</th>
                                <th>date invoice</th>
                                <th>date rec</th>
                                <th>date credit</th>
                                <th>description</th>
                                <th>payment mode</th>
                                <th>amount</th>
                                <th>
                                    <span asp-validation-for="InvoicesSelected" class="text-danger"></span>
                                    select
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < data.Count; i++)
                            {
                                <tr>
                                    <th>@data[i].InInvoiceId</th>
                                    <th>@data[i].CName</th>
                                    <th>@data[i].IDate</th>
                                    <th>@data[i].InInvoiceDate</th>
                                    <th>@data[i].InReceiptDate</th>
                                    <th>@data[i].InCreditDate</th>
                                    <th>@data[i].IDescription</th>
                                    <th>@data[i].CaName</th>
                                    <th>@data[i].InAmount</th>
                                    <th>
                                        <div class="mb-3">
                                            <input name="InvoicesSelected" type="checkbox" value="@data[i].InInvoiceId" class="form-check-input" />
                                        </div>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-end">
                <button asp-controller="FInvoices" asp-action="Pending" class="btn btn-primary mb-4">Save</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>