@model IEnumerable<LittleFirmManagement.Models.FCity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CiPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiInseeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiDepartCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CiPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiInseeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiDepartCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
