@model FCategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    @if (TempData.Count != 0)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <div class="row">
        @foreach (var categoryType in Model.CategoryTypes)
        {
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>@categoryType.CtName</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("Create", "FCategories")">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="CaId" value="0" />
                            <input type="hidden" name="CaFkCategoryTypeId" value="@categoryType.CtId" />
                            <div class="form-group">
                                <label for="CaName">Name:</label>
                                <input type="text" class="form-control" id="CaName" name="CaName" />
                            </div>
                            <button type="submit" class="btn btn-primary">Create Category</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model.CategoriesByType[categoryType.CtId])
                                {
                                    <tr>
                                        <td>@category.CaName</td>
                                        <td><a class="btn btn-primary" href="/FCategories/Edit/@category.CaId">Edit</a></td>
                                        <td>
                                            <form method="post" action="/FCategories/Delete/@category.CaId">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="categoryTypeId" value="@categoryType.CtId" />
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
