@model LittleFirmManagement.Models.FIntervention

@{
    ViewData["Title"] = "Create";
    var client = ViewData["FClient"] as LittleFirmManagement.Models.FClient;
}

<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Intervention</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="IDate" class="control-label"></label>
                            <input asp-for="IDate" type="date" class="form-control" />
                            <span asp-validation-for="IDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IDescription" class="control-label"></label>
                            <textarea asp-for="IDescription" class="form-control"></textarea>
                            <span asp-validation-for="IDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="INbRoundTrip" class="control-label"></label>
                            <input asp-for="INbRoundTrip" class="form-control" />
                            <span asp-validation-for="INbRoundTrip" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IFkCategoryId" class="control-label"></label>
                            <select asp-for="IFkCategoryId" class="form-control" asp-items="ViewBag.IFkCategoryId"></select>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header">Client</div>
                            <div class="card-body">
                                <input type="hidden" name="CId" value="@client.CId"/>
                                <div class="mb-3">
                                    <label class="form-label">Name : @client.CName</label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Firstname : @client.CFirstname</label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Address : @client.CAddress</label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">City : @client.CFkCity.CiName</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-end">
                <button name="saveAndExit" value="false" asp-controller="FInterventions" asp-action="Create" class="btn btn-primary mb-4">Save and record an invoice</button>
                <button name="saveAndExit" value="true" asp-controller="FInterventions" asp-action="Create" class="btn btn-primary mb-4">Save and exit</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
