@model IEnumerable<LittleFirmManagement.Models.FIntervention>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.INbRoundTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFkCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFkClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFkInvoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INbRoundTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFkCategory.CaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFkClient.CId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFkInvoice.InId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
